{% extends "base.html" %}

{% block Main %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1 style="text-align: center; padding-top: 30px;">Sales Dashboard Using PowerBI</h1>
        <iframe title="Sample Report Demo" width="1140" height="600.25"
            src="https://playground.powerbi.com/sampleReportEmbed" frameborder="0"></iframe>
    </div>
</div>
{% endblock %}